.dashed-list {
  list-style-type: none; 
  padding: 0;
}

.dashed-list li {
  margin-bottom: 1em;
}

.dashed-list li:before {
  content: "- ";
  left: 0;
  top: 0;
}



.navbar-nav .nav-link.active:after,
.navbar-nav .nav-link:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  border-bottom: 1px solid #fff; 
  padding-bottom: 5px;
}

.text-gradient {
  background: linear-gradient(to right, #135D66, #22A6B6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*{
  font-family:'cairo';
}
.text-dark-green{
color:#135D66;
}
.text-size-medium{
  font-size: 1.4rem;
}
.text-size-large{
  font-size: 2.2rem;
}

.text-size-small{
  font-size: 1.2rem;
}

.cardBig {
  background: #EFEFEF;
  text-align: center;
  min-height: 34rem;
}



.card-text  {
  background-color: #135D66;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding:1.3rem;
  line-height: 1.5;
  min-height: 18rem;
  
}


.input-style {
  width: 60px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #22A6B6;
}

.smallBox{
  width: auto;
  min-height: 6rem;
  border: 1px solid #16575e;
  background-color: #135D66;
  padding: 2rem;
}


.low .cardBig {
  margin-top: 4rem;

}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}